---
// const platform = "github"
// const username = "gilgamesh7"
import Social from "./Social.astro"
---

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>


<footer>
    <!-- <p> Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
    <Social platform="github" username="gilgamesh7" />
    <Social platform="twitter" username="gilgamesh7" />
    <Social platform="linkedin" username="gilgamesh7" />
</footer>